<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="//at.alicdn.com/t/font_1198181_9anwrh4m32t.js"></script>
  <style type="text/css">
    .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
  </style>
  <style>
    #app {
      width: 420px;
      margin: 50px auto;
    }
  </style>
</head>

<body>

  <!-- <div id="app">
    <div class="header">
      <h1>Header</h1>
    </div>
    <div class="main">
      <p class="text main-text">
        <b>main</b>
      </p>
      <span>mainmain-span</span>
    </div>
    <div class="footer">
      <div class="footer-wrapper">
        <span class="copyright">
          copyright
          <a href="">友情链接</a>
        </span>
      </div>
    </div>
    <div class="aside">
      <input type="text aside-text" id="username">
    </div>
  </div> -->

  <div id="app"></div>

</body>

</html>