<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body draggable="true">
  <div id="app">
    <div id="drag-wrapper" draggable="true"></div>
  </div>
<!--
  <div id="app">
    <div class="header">
      <h1>Header</h1>
    </div>
    <div class="main">
      <p class="main-text">
        <b>main</b>
      </p>
      <span>mainmain-span</span>
    </div>
    <div class="footer">
      <div class="footer-wrapper">
        <span class="copyright">
          copyright
          <a href="">友情链接</a>
        </span>
      </div>
    </div>
    <div class="aside">
      <input type="text" id="username">
    </div>
  </div> -->

</body>

</html>